body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.row {
    margin-bottom: 10px;
    border-top: 1px solid #f5f5f5;
    padding: 2px;
}

.isNew {
    color: #dc143c;
    padding-left: 10px;
    font-weight: bold;
}

.lastUpdated {
    font-size: 0.7em;
    opacity: 60;
}

.nobr {
    white-space: nowrap;
}

.image-size {
    max-width: 140px;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .image-size {
        max-width: 70px;
    }
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
